.container {
	height: 100%;
	background-color: aqua;
	padding: 30px;
	margin: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-self: top;
	justify-content: center;
	margin-left: 400px;
	height: 300px;
	width: 400px;
	background-color: blueviolet;
}

.nameInputLabel {
	margin-right: 40px;
}

.nameInput {
	margin-left: 30px;
	margin-bottom: 20px;
	width: 250px;
	height: 20px;
}

.commentInputLabel {
	margin-right: 42px;
}

.commentInput {
	height: 70px;
	width: 250px;
	margin-bottom: 20px;
}

.commentButton {
	margin-left: 150px;
}

.commentsContainer {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	width: 100%;
	height: 100%;
	background-color: blue;
	align-items: center;
	justify-content: center;
}

.timeContainer {
	margin-right: 50px;
	width: 200px;
	background-color: red;
	height: 100%;
}

.timeLabel {
	padding: 10px;
}

.time {
	padding: 30px;
}

.nameContainer {
	margin-right: 50px;
	width: 200px;
	background-color: red;
	height: 100%;
}

.nameLabel {
	background-color: white;
	padding: 10px;
}

.userName {
	padding: 30px;
}

.commentContainer {
	display: flex;
	flex-direction: column;
	position: sticky;
	margin-right: 50px;
	width: 300px;
	background-color: red;
}

.commentLabel {
	margin-top: 0px;
	padding: 10px;
	height: 20px;
	background-color: white;
}

.comment {
	margin-top: 0px;
	padding: 0px;
	height: 50px;
	background-color: chartreuse;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	background-color: pink;
	width: 200px;
}

.editButton {
	width: 100px;
	height: 30px;
	margin-left: 200px;
	margin-bottom: 100px;
}

.submitEditButton {
	width: 100px;
	height: 30px;
}
